<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
  <div class="my-auto" id="skills-content">
  <h2 class="mb-5">{{ i18n "skills" }}</h2>
    {{ range $.Site.Data.skills }}
      {{ $group := or (i18n .grouping) .grouping }}
      {{ if $.Site.Params.showSkillsGrouping }}
      <div class="subheading mb-3 skills-heading">{{ $group }}</div>
      {{ end }}
      <ul>
        {{ range .skills }}
          {{ if isset . "name" }}
            {{ $title := or (i18n .name) .name }}
            <li class="list-inline-item">
              <i class="devicons devicons-{{ urlize .name }}"></i>
              {{ if isset . "link" }}
                <a href="{{ .link }}">{{ $title }}</a>
              {{ else }}
                {{ $title }}
              {{ end }}
            </li>
          {{ else }}
            {{ $title := or (i18n .) . }}
            <li class="list-inline-item">
              <i class="devicons devicons-{{ urlize . }}"></i>
              {{ $title }}
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  </div>
</section>
